.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 350px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modalHeader {
  background-color: #e6e6ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.icon {
  width: 94px;
  height: 140px;
}

.modalContent {
  padding: 30px;
  text-align: center;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #0c1049;
  margin-bottom: 10px;
}

.message {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.cancelButton {
  background-color: #f0f4f8;
  color: #333;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 45%;
  font-weight: 500;
  font-size: 18px;
  height: 48px;
}

.deleteButton {
  background-color: #ff3093;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
  height: 48px;
  gap: 8px;
}

.iconSmall {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1);
}

.buttonText {
  margin: 0;
  padding: 0;
  line-height: 1;
}
