.container {
  display: flex;
  width: 80%;
  height: 100vh;
  margin-top: 20px;
}

.left {
  flex: 0 0 20%;
  padding: 20px;
  background-color: red;
  margin-right: 20px;
}

.right {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: black;
}
